{% extends "base.html" %}

{% block title %}Product page{% endblock %}

{% block content %}
    <div class="container product">
        <div class="product__inner-container">
            <h1>Product page</h1>
            <h2>Name: {{ product.name }}</h2>
            <h2>Price: {{ product.price }}</h2>
        </div>
        <div class="product__inner-container">
            <h1>Specifications</h1>
            <h2>Type: {{ product.type }}</h2>
            <h2>Processor: {{ product.processor }}</h2>
        </div>
        {% if user.is_authenticated %}
            <td>
                <form action="{% url 'add_to_cart'  product.id %}">
                    {% csrf_token %}
                    <button class="btn btn-success">Add to cart</button>
                    {% if product.is_in_cart %}
                        <div><span class="in-cart-span">In cart</span></div>
                    {% endif %}
                </form>
            </td>
        {% endif %}
    </div>
{% endblock %}
